/* Global Styles */


body {
    color: var(--dark);
}

/* Utility Styles */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

button, input, select {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    font-size: 16px;
}

button:focus, input:focus, select:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

/* Header and Navigation */
header {
    background-color: var(--main-color);
    padding: 10px 0;
    height: 50px;
}

nav {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}
.buttonP{
    background-color: var(--dark);
    color: var(--third-color);
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    margin: 15px 10px;
}
.dropdown img{
    width: 30px;
    margin: 18px 10px;
}





/* Hamburger Menu */
#container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--dark);
    border-radius: 10px;
    cursor: pointer;
}


/* Home Page */
#viewPort {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homePage {
    max-width: 1500px;
    display: grid;
    gap: 20px;
    width: 100%;
}

/* Page Sections */
.pageExplorer {
    background-color: var(--third-color);
    height: 30px;
    font-size: 10px;
    text-align: left;
    padding: 10px;
}

.firstArticle {
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.firstArticle h3 {
    font-size: 60px;
    font-weight: 700;
}

.firstArticle p {
    font-size: 20px;
    color: var(--text-color-sec);
    margin-bottom: 15px;
}


#selector {
    background-color: var(--secondary-color);
    color: var(--third-color);
    margin: 5px;
}

/* Select Group */
select {
    margin: 10px 0;
    padding: 5px;
    font-size: 14px;
    background-color: rgba(173, 173, 173, 0.6);
    color: var(--dark);
    border: none;
}

.selectGroup {
    display: grid;
    gap: 10px;
}

/* Footer */
footer {
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


